AddDescription "Este es el blog :3" este-es-el-blog-3.html
AddDescription "La desesperación de un comienzo nuevo" la-desesperación-de-un-comienzo-nuevo.html
AddDescription "El análisis psicológico de Oscarito III" el-análisis-psicológico-de-oscarito-iii.html
AddDescription "En lo que regresa YouTube" en-lo-que-regresa-youtube.html
AddDescription "Cambio de fecha para Open Mic y Dispara Margot Dispara" cambio-de-fecha-para-open-mic-y-dispara-margot-dispara.html
AddDescription "Los pendientes" los-pendientes.html
AddDescription "Dispara Margot Dispara y Open Mic" dispara-margot-dispara-y-open-mic.html
AddDescription "" 
AddDescription "Livestream con Erik Perez García" livestream-con-erik-perez-garcía.html
AddDescription "Mi amigo Sergio (Aragonés)" mi-amigo-sergio-aragonés.html
AddDescription "Livestream para mañana: "Se puede oler el azúcar"" livestream-para-mañana-se-puede-oler-el-azúcar.html
AddDescription "La Saiber Polís" la-saiber-polís.html
AddDescription "Modificaciones en la página" modificaciones-en-la-página.html
AddDescription "La que se viene" la-que-se-viene.html
AddDescription "Open Mic sabadominical" open-mic-sabadominical.html
AddDescription "Mi Otro Canal" mi-otro-canal.html
AddDescription "Cronología chicarquiana Vol. 1" cronología-chicarquiana-vol.-1.html
AddDescription "Cronología Chicarquiana II" cronología-chicarquiana-ii.html
AddDescription "Sobre la cronoscopía chicarquiana" sobre-la-cronoscopía-chicarquiana.html
AddDescription "El secreto de la filtración de los dinosaurios" el-secreto-de-la-filtración-de-los-dinosaurios.html
AddDescription "Keibun Estodi en La Chole" keibun-estodi-en-la-chole.html
AddDescription "Sobre el livestream del sábado 24 de noviembre" sobre-el-livestream-del-sábado-24-de-noviembre.html
AddDescription "Dispara Margot 2: Electric Boogaloo" dispara-margot-2-electric-boogaloo.html
AddDescription "Avisos parroquiales parte 666" avisos-parroquiales-parte-666.html
AddDescription "Entre canales... (respuesta a un tema que se tocaba en el Kubert)" entre-canales...-respuesta-a-un-tema-que-se-tocaba-en-el-kubert.html
AddDescription "OMG! Una semana después" omg-una-semana-después.html
