AddDescription "Este es el blog :3" este-es-el-blog-3.html
AddDescription "La desesperación de un comienzo nuevo" la-desesperación-de-un-comienzo-nuevo.html
AddDescription "El análisis psicológico de Oscarito III" el-análisis-psicológico-de-oscarito-iii.html
AddDescription "En lo que regresa YouTube" en-lo-que-regresa-youtube.html
AddDescription "Cambio de fecha para Open Mic y Dispara Margot Dispara" cambio-de-fecha-para-open-mic-y-dispara-margot-dispara.html
AddDescription "Los pendientes" los-pendientes.html
AddDescription "Dispara Margot Dispara y Open Mic" dispara-margot-dispara-y-open-mic.html
AddDescription "" 
AddDescription "Livestream con Erik Perez García" livestream-con-erik-perez-garcía.html
AddDescription "Mi amigo Sergio (Aragonés)" mi-amigo-sergio-aragonés.html
AddDescription "Livestream para mañana: "Se puede oler el azúcar"" livestream-para-mañana-se-puede-oler-el-azúcar.html
AddDescription "La Saiber Polís" la-saiber-polís.html
AddDescription "Modificaciones en la página" modificaciones-en-la-página.html
AddDescription "La que se viene" la-que-se-viene.html
AddDescription "Open Mic sabadominical" open-mic-sabadominical.html
AddDescription "Mi Otro Canal" mi-otro-canal.html
AddDescription "Cronología chicarquiana Vol. 1" cronología-chicarquiana-vol.-1.html
AddDescription "Cronología Chicarquiana II" cronología-chicarquiana-ii.html
AddDescription "Sobre la cronoscopía chicarquiana" sobre-la-cronoscopía-chicarquiana.html
AddDescription "El secreto de la filtración de los dinosaurios" el-secreto-de-la-filtración-de-los-dinosaurios.html
AddDescription "Keibun Estodi en La Chole" keibun-estodi-en-la-chole.html
AddDescription "Sobre el livestream del sábado 24 de noviembre" sobre-el-livestream-del-sábado-24-de-noviembre.html
AddDescription "Dispara Margot 2: Electric Boogaloo" dispara-margot-2-electric-boogaloo.html
AddDescription "Avisos parroquiales parte 666" avisos-parroquiales-parte-666.html
AddDescription "Entre canales... (respuesta a un tema que se tocaba en el Kubert)" entre-canales...-respuesta-a-un-tema-que-se-tocaba-en-el-kubert.html
AddDescription "OMG! Una semana después" omg-una-semana-después.html
AddDescription "Ya chole con La Mole" ya-chole-con-la-mole.html
AddDescription "Felices fiestas" felices-fiestas.html
AddDescription "Feliz 2019" feliz-2019.html
AddDescription "Inicio de 2019" inicio-de-2019.html
AddDescription "" la-que-se-viene.html
AddDescription "La que se viene..." la-que-se-viene.html
AddDescription "Manita de gato al blog
Manita de gato al blog
Manita de gato al blog
Manita de gato al blog" "manita-de-gato-al-blog.html" #vie, 11 ene 2019 21:47:44 -0600
AddDescription "Probando esto" "probando-esto.html" #vie, 11 ene 2019 22:02:44 -0600
AddDescription "¿Radio por internet?" "¿radio-por-internet.html" #mié, 16 ene 2019 02:36:21 -0600
AddDescription "Lo gacho del Guacho, entre otras cosas" "lo-gacho-del-guacho-entre-otras-cosas.html" #vie, 18 ene 2019 00:46:46 -0600
AddDescription "Lo gacho del guacho 2: Electric Boogaloo" "lo-gacho-del-guacho-2-electric-boogaloo.html"
AddDescription "Lo gacho del Huacho 2 - Electric Boogaloo" "lo-gacho-del-huacho-2--electric-boogaloo.html" #lun, 21 ene 2019 21:44:03 -0600
AddDescription "Los tibios somos más (?)" "los-tibios-somos-más-.html" #mié, 30 ene 2019 01:40:59 -0600
AddDescription "¿Qué pasó ayer?" "¿qué-pasó-ayer.html" #dom, 03 feb 2019 10:49:14 -0600
AddDescription "Eitianti, Beakmanía y La Mole" "eitianti-beakmanía-y-la-mole.html" #dom, 10 feb 2019 22:10:25 -0600
AddDescription "¡Fuerza, Rayos!" "¡fuerza-rayos.html" #mié, 06 mar 2019 12:26:57 -0600
AddDescription "La Locura de Marzo" "la-locura-de-marzo.html"
AddDescription "Revamp al canal" "revamp-al-canal.html" #vie, 12 abr 2019 01:32:25 -0500
AddDescription "#LosCochinosDineros" "loscochinosdineros.html"
AddDescription "Donaciones" "donaciones.html" #sáb, 13 abr 2019 18:36:54 -0500
