body {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: #ddd;
	padding-bottom: 200px;
	background: #111111;
	margin-bottom: 350px;
	font-family: "Liberation-Sans", Helvetica, sans-serif, Arial
	 }

a {color: royalblue;text-decoration: none; }

a:hover {
	color: lightblue;
	}

a:hover img { background: yellow; }

article {
	border-left: 10px solid black;
	padding: 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	background-color: #222222;
	color: #eee;
	}

article h2 { margin: 5px auto 2px auto; }


footer strong { font-weight: bold; }

dt {
	font-weight: bold;
	}


.image {
	width: 175px !important;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	display: inline-table;
	padding: 0px;
}

img.centered {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
figcaption {
	padding: 0px;
	max-width: 175px;
}

h1,h2,h3,h4,h5,h6 {
	text-shadow: -1px 0 gray, -1px -1px gray, 0 -1px gray;
	font-family: "Liberation Serif", "Times New Roman", serif
}

code {
	background-color: #111;
	color: #00ff00;
	border-radius: 20px;
	padding: 0px 5px 0px 5px;
}

.indexcolname {
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.indexcoldesc {
	font-weight: bold;
	padding: 10px;
	font-size: large;
}
.indexcollastmod,.indexcolsize {
	font-size: small;
	color: #555;
}

#indexlist {
margin: 0px auto;
}

.part {
	}

.read {
	}

.fav {
	}

.centerpiece {
	align: center;
	margin: 0px auto;
	}

.booklist dt {
	display: list-item;
	list-style-type: square;
	font-weight: normal;
	}

.booklist dd {
	display: none;
	}

.booklist:hover dd {
	display: block;
	}

.mic {
	  list-style: none;
	    padding-left: 1em;
	      text-indent: -1em;
	      margin-left: 0;
	        padding-left: 0;
  }

 .mic:before {
	  content: "🎙️";
 }
.resaltar{
    color: red;
}
nav ul{
    padding:0;
}

nav ul li{
    display: inline;
    margin: 5px;
    font-size:18px;
    text-transform: uppercase;
    font-weight:bold;
}
